<style>
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

        .flex-child:first-child {
            margin-right: 20px;
        }
</style>
<div>
    <h1>Khanyisile Khumalo</h1>
    <h3>A little about me...</h3>
    <div style="background-color:lightgray">
        <div class="flex-container">


            <div class="flex-child magenta">
                <div style="margin-left:5%">
                    <h3>Bio</h3>
                    
                    <p>
                        My name is Khanyisile Khumalo, and I am currently a BCom Informatics student at the university of Pretoria.
                    </p>

                    <p>
                        So far in my degree I have aquired HTML, CSS and C# skills. 
                    </p>

                </div>
            </div>

            <div class="flex-child green">
                <h3>More about me: </h3>
                <br />
                <img style="margin-left:10%; width:80%" src="IMG_6168.jpg" />

            </div>
        </div>
    </div>
</div>
